albumentations==1.4.24
opencv-python==4.10.0.84
numpy==2.2.1
pandas==2.2.3
pillow==11.1.0
pyyaml==6.0.2
tqdm==4.67.1
ultralytics==8.3.59
scikit-learn==1.6.1
imagehash==4.3.1
pytest==8.3.4
mlflow==2.19.0
wandb==0.19.1
onnx==1.17.0
onnxruntime==1.20.1
fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
pydantic==2.10.5
asyncpg==0.30.0
PyJWT==2.10.1
python-json-logger==3.2.1
redis==5.2.1
prometheus-client==0.21.1
